---
import Header from '../components/Header.jsx';

const { Content } = Astro;

---

<Header />

<main>
  <Content />
</main>

<footer>
  <p>&copy; {new Date().getFullYear()} Northern Landing. All rights reserved.</p>
</footer>